<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4 mx-auto my-3">
      <h4>送信が完了しました</h4><br>
      <p>内容は以下の通りです</p>
      [タイトル]<p><b><%= @mail_title %></b></p>
      [本文]<p><b><%= safe_join(@mail_content.split("/n"), tag(:br)) %></b></p>
    </div>
  </div>
</div>